:root {
    --primary-color: #f85606;
    --secondary-color: #888cf5;
    --white: #ffffff;
    --gray: #f5f5f5;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

.navbar {
    background-color: var(--primary-color);
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo {
    color: white;
    font-size: 24px;
}

.navbar .nav-links a,
.navbar .auth-links a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

.container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 80%;
    margin: 0 auto;
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-btn {
    width: 100%;
    padding: 10px;
    background-color: #f57224;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.login-btn:hover {
    background-color: #e65a00;
}

.login-alt {
    margin: 20px 0;
}

.login-alt p {
    margin-bottom: 10px;
}

.facebook-btn,
.google-btn {
    width: 48%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    color: white;
}

.facebook-btn {
    background-color: #3b5998;
    margin-right: 2%;
}

.google-btn {
    background-color: #db4a39;
}

.reset-password {
    display: block;
    margin-top: 15px;
    color: #3498db;
    text-decoration: none;
}

.reset-password:hover {
    text-decoration: underline;
}

#loginMessage {
    margin-top: 15px;
    font-size: 14px;
    text-align: center;
    color: red; 
}

.register-link {
    margin-top: 20px;
}

.register-link a {
    color: #3498db;
    text-decoration: none;
}

.register-link a:hover {
    text-decoration: underline;
}